<html>
<head>
<title>Welcome to the 2ND Check_MK Conference!</title>
</head>
<body>

<img src="konf.jpg" />
<br />
<br />
<strong>Welcome to the 2ND Check_MK Conference!</strong>
<br />

<p><h3>Im running on {{ inventory_hostname }}.</h3><p>
<p>Running on {{ ansible_os_family }} ;-}</p>
</body>
</html>
